body {
  display: flex;
  height: 800px;
  /* Main Axis */
  flex-direction: column;
  justify-content: space-around;
  /* Cross Axis */
  align-items: center;
}

.box {
  width: 200px;
  height: 200px;
  background: blue;
  color: white;
}
