.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  grid-auto-flow: column;
  grid-auto-rows: 100px;
}

.item {
  background-color: green;
}

.item:nth-child(odd) {
  background-color: blue;
}
