@import "_mixins";
@import "_variables";

body {
  background-color: black;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  @include response(grid);
}

.title-box {
  background-color: $bg1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  @include response(title-box);

  .title {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-transform: uppercase;
    font-weight: 500;
    color: $bg2;
    padding-bottom: 30px;
    @include response(title);
  }

  .sub-title1 {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    font-weight: 450;
    color: $bg2;
    padding-bottom: 30px;
  }

  .sub-title2 {
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 17px;
    font-weight: 500;
    line-height: 23px;
    color: $bg2;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding-bottom: 70px;
  }

  .menu {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;

    a {
      color: rgba(0, 0, 0, 0.6);
      margin-right: 15px;
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);
      margin-bottom: 5px;
    }
  }

  .discription {
    width: 80%;
    font-size: 11px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding-bottom: 70px;
  }
}

.content-box {
  background-color: $bg2;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  .order {
    background-color: $bg2;
    position: sticky;
    top: 0px;
    left: 0px;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.95;
    z-index: 5;
    span {
      margin: 3px 3px;
      font-size: 18px;
      font-weight: 550;
    }
    .block {
      color: rgba(0, 0, 0, 0.5);
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  .bg {
    background: linear-gradient(to bottom, $bg2 80%, $bg2 10%, #487eb0);
    display: flex;
    justify-content: center;
  }

  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;

    .title {
      color: white;
      align-self: flex-start;
      font-size: 35px;
      font-weight: 550;
      margin: 10px 0px;
    }

    .direct {
      color: white;
      align-self: flex-start;
      font-size: 13px;
      font-weight: 550;
    }

    .video {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      background-color: gray;
      margin: 30px 0px;
      iframe {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .number {
        position: absolute;
        top: 50px;
        left: -15px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .tab1 {
          width: 15px;
          height: 40px;
          background: linear-gradient(
            to right,
            #40739e 2%,
            #487eb0 50%,
            #40739e
          );
        }
        .tab2 {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 23px;
          font-weight: 500;
          color: white;
          background-color: #487eb0;
        }
      }
      .vote {
        position: absolute;
        top: 0px;
        right: -45px;
        div {
          background-color: #487eb0;
          width: 45px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i {
          font-size: 16px;
          color: white;
        }
        span {
          background-color: #487eb0;
          font-size: 18px;
          font-weight: 550;
          color: white;
        }
      }
    }

    .discription {
      font-size: 16px;
      font-weight: 550;
      line-height: 25px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      span {
        text-indent: 30px;
      }
      span:first-child {
        text-indent: 0px;
      }
    }

    .rating {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      span:first-child {
        color: white;
        font-size: 16px;
        font-weight: 550;
      }
      span:last-child {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 500;
      }
    }

    .comment {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 60px;
      margin-bottom: 80px;
      span:first-child {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 500;
      }
      span:last-child {
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        i {
          margin-right: 3px;
          margin-left: -18px;
        }
      }
    }
  }
}
