@import "_title.scss";
@import "_grid.scss";

$minPhone: 480px;
$maxPhone: 600px;
$minTablet: 820px;
$maxTablet: 1190px;

@mixin response($value) {
  @if $value == "title" {
    @media screen and (max-width: $maxPhone) {
      height: 250px;
      font-size: 50px;
    }
    @media screen and (min-width: $maxPhone) and (max-width: $minTablet) {
      height: 370px;
      font-size: 70px;
    }
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
      height: 250px;
      font-size: 50px;
    }
    @media screen and (min-width: $maxTablet) {
      height: 370px;
      font-size: 70px;
    }
  } @else if $value == "grid" {
    @media screen and (max-width: $minTablet) {
      grid-template-columns: 1fr;
    }
    @media screen and (min-width: $minTablet) and (max-width: $maxTablet) {
      grid-template-columns: 420px 1fr;
    }
    @media screen and (min-width: $maxTablet) {
      grid-template-columns: 520px 1fr;
    }
  }
  
}
