$bg: #2c3e50;
$bg1: #95a5a6;
$bg2: #57606f;
$bg3: #e1b12c;
$bg4: #182c61;
$bg5: #182c61;
$bg6: #182c61;
$bg7: #f7f1e3;
$content1-bg: #95a5a6;
$content1-title: #2d3436;
$btn1-text: rgba(0, 0, 0, 0.7);
