@import "_mixins";
@import "_variables";

body {
  background-color: white;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px 1fr 200px;
  justify-items: center;
}

nav {
  background-color: white;
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  color: black;
  font-size: 11px;
  font-weight: 550;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  .nav-first {
    width: 200px;
    a {
      color: black;
      text-decoration: none;
    }
    a:first-child {
      margin-right: 35px;
    }
  }
  .nav-last {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    a {
      color: black;
      text-decoration: none;
    }
    a:first-child {
      margin-right: 25px;
    }
    i {
      margin-right: 5px;
    }
  }
  .logo {
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}

main {
  width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content1 {
  background-color: red;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: cover;
  margin-bottom: 50px;
  img {
    background-color: gray;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    object-fit: contain;
  }
  .text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    .title1 {
      font-size: 15px;
      font-weight: 450;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}

.content1:before {
  content: "";
  display: block;
  padding-top: 50%;
}

footer {
  background-color: white;
}

img {
  width: 100px;
  height: 100px;
}
